@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 400;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 500;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 600;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 700;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 800;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-ExtraBold.ttf) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Baloo Thambi 2", cursive;
  -webkit-font-smoothing: antialiased;
  color: #2e2e2e;
  color: hsl(0, 0%, 34%);
}
/* const dark = "#232323";
const light = "#f0f0f0"; */
img,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.myLabel {
  font-size: 14px;
  color: #f0f0f0;
}
.textLabel {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 14px;
  color: #f0f0f0;
}
