@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Baloo Thambi 2";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: local("Baloo Thambi 2"),
    url(./fonts/BalooThambi2-SemiBold.woff2) format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #f0f0f0;
}
html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Baloo Thambi 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2e2e2e;
  color: hsl(0, 0%, 34%);
}
/* const dark = "#232323";
const light = "#f0f0f0"; */
img,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.text {
  color: var(--white);
  font-family: "Baloo Thambi 2", cursive;
  font-size: 1rem;
}

.text-l {
  font-size: 1.125rem;
  font-family: "Baloo Thambi 2", cursive;
}
.text-l::placeholder {
  font-size: 1.125rem;
  font-family: "Baloo Thambi 2", cursive;
}

.modalLink {
  display: block;
  text-decoration: underline rgba(240, 240, 240, 0.4);
  color: inherit;
  font-size: 1.125rem;
}
.modalLink:hover {
  color: #f0f0f0;
  text-decoration: underline rgba(240, 240, 240, 1);
}
.ForgotPasswordLink {
  text-decoration: underline rgba(240, 240, 240, 0.4);
  color: inherit;
  font-size: 1.125rem;
  width: fit-content;
}
.ForgotPasswordLink:hover {
  text-decoration: underline rgba(240, 240, 240, 1);
}

.text-xl {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 1.25rem;
}
